.custom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom input{
    width: 100%;
}
#create-btn{
    width: auto;
}
@media (max-width:840px){
    .custom form {
        width: 300px;
    }
}