
.App {
  text-align: center;
}
h1{
  color: white;
  font-size: 8em;
  margin: 0;
}
h4{
  margin: 0;
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.image-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
  column-gap: 50px;
  row-gap: 100px;
  padding:0 3vw
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width:1330px){
  .image-container{
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h1{
    font-size: 5em;
  }
}
@media(max-width:500px){
  .image-container{
    column-gap: 5px;
    padding-left: 0;
    padding-right: 0;
  }
  h1{
    font-size:4em;
  }
}
@media(max-width:440px){
  .image-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}